.modal-booking-container {
  .booking-modal-content {
    padding: 20px 40px;
    .booking-modal-header {
      font-size: 15px;
      font-weight: 600;
      color: #333;
    }
    .booking-modal-body {
    }
    .booking-modal-footer {
    }
  }
}
