.mainSlide {
  .slide-img {
    background-position: center;
    // background-size: contain !important;
    background-repeat: no-repeat;
  }
  .slideContainer {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .dotGroup {
    transition: none;
    transition: all 0.2s linear;
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    transform: translateX(-50%);

    button {
      border: none;
      padding: 4px;
      position: relative;
      margin: 0 4px;
      border-radius: 50px;
      background-color: rgb(255, 220, 117);
      transition: background-color 0.3s ease;
    }
    button.carousel__dot--selected {
      padding: 8px;
      background-color: yellow;
      background-color: rgb(255, 196, 25);
    }
  }
}
.carousel__slide-focus-ring {
  display: none !important;
}
.internalServerError-Container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .internalServerError-img {
    padding-top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
  }
}
.card-slide {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 4px 8px;
  height: 100%;
  padding: 20px 12px 36px;
}
.slide-img-child {
  padding-top: 40%;
}
